          <section class="vbox">
            <section class="w-f-md scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
                


                <!-- nav -->                 
                <nav class="nav-primary hidden-xs">
                  <ul class="nav bg clearfix">
                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                      Discover
                    </li>
                    <li>
                      <a href="/play/">
                        <i class="icon-disc icon text-success"></i>
                        <span class="font-bold">Novidades?</span>
                      </a>
                    </li>
                    <li>
                      <a href="genero">
                        <i class="icon-music-tone-alt icon text-info"></i>
                        <span class="font-bold">Gênero</span>
                      </a>
                    </li>
                    <li>
                      <a href="eventos">
                        <i class="icon-drawer icon text-primary-lter"></i>
                        <b class="badge bg-primary pull-right">6</b>
                        <span class="font-bold">Eventos</span>
                      </a>
                    </li>
                    <li>
                      <a href="listas">
                        <i class="icon-list icon  text-info-dker"></i>
                        <span class="font-bold">Listas</span>
                      </a>
                    </li>
                    <li>
                      <a href="/play/#!/video" data-target="#content" data-el="#bjax-el" data-replace="true">
                        <i class="icon-social-youtube icon  text-primary"></i>
                        <span class="font-bold">Video</span>
                      </a>
                    </li>
                    <li class="m-b hidden-nav-xs"></li>
                  </ul>
                  <ul class="nav" data-ride="collapse">
                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                      MouseBox
                    </li>
                    <li >
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class="icon-screen-desktop icon">
                        </i>
                        <span>Projetos</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li >
                          <a href="/programacao/home" class="auto">                                                        
                            <i class="fa fa-angle-right text-xs"></i>

                            <span>Programação</span>
                          </a>
                        </li>
                        <li >
                          <a href="/designer/default.php" class="auto">                                                        
                            <i class="fa fa-angle-right text-xs"></i>

                            <span>Designer</span>
                          </a>
                        </li>
                        <li >
                          <a href="/interna.php?pagina=sites" class="auto">                                                        
                            <i class="fa fa-angle-right text-xs"></i>
                            <span>Projetos de Sites</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li >
                      <a href="#" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                        <i class="icon-chemistry icon">
                        </i>
                        <span>Diversão</span>
                      </a>
                      <ul class="nav dk text-sm">
                        <li >
                          <a href="/entretenimento/default.php" class="auto">                                                        
                            <i class="fa fa-angle-right text-xs"></i>

                            <span>Jogos</span>
                          </a>
                        </li>
                        <li >
                          <a href="/entretenimento/moviedb/default.php" class="auto">                            
                            <b class="badge bg-info pull-right">+100</b>                                                        
                            <i class="fa fa-angle-right text-xs"></i>

                            <span>Histórico Séries</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li >
                      <a href="/interna.php?pagina=contato" class="auto">
                        <i class="icon-grid icon">
                        </i>
                        <span>Contato</span>
                      </a>
                    </li>
                  </ul>
                  <ul class="nav text-sm">
                    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                      <span class="pull-right"><a href="#"><i class="icon-plus i-lg"></i></a></span>
                      Playlist
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-music-tone icon"></i>
                        <span>Construção</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-playlist icon text-success-lter"></i>
                        <b class="badge bg-success dker pull-right">9</b>
                        <span>Minha PlayList</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- / nav -->
              </div>
            </section>
            
            <footer class="footer hidden-xs no-padder text-center-nav-xs">
              <div class="bg hidden-xs ">
                  <div class="dropdown dropup wrapper-sm clearfix">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="thumb-sm avatar pull-left m-l-xs">                        
                        <img src="/comuns/img/logo-caixa.png" class="dker" alt="..." style="background-color: #ffffff;">
    
                      </span>
                      <span class="hidden-nav-xs clear">
                        <span class="block m-l">
                          <strong class="font-bold text-lt">MouseBox</strong> 
                          <b class="caret"></b>
                        </span>
                        <span class="text-muted text-xs block m-l">Voltar</span>
                      </span>
                    </a>

                  </div>
                </div>            
            </footer>
          </section>